*{
    background-color: rgb(157, 155, 155);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


h1{
    color:whitesmoke;
}

h2{
    font-size: 18px;
    color:whitesmoke;
}
p{
    
    font-size: 18px;
    color:whitesmoke;
}
